* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/banner_image.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

